<%- include('./partials/header.ejs') %>

<h1>FEED</h1>
<!-- on the feed create render the images on ancher tag which lead to the post  -->
<ul>

    <% posts.forEach(post => { %>
        
            <a href="/post/<%= post._id%>"><h2><%= post.title  %></h2></a>
            
        <h3> <%= post.caption  %> </h3>
        <li><%= post.user.username  %></li>
    <% }) %>
        
</ul>

<%- include('./partials/footer.ejs') %>